$primaryColor: #1c1c1c;
$secondaryColor: #e50505;

.link-item {
  display: flex;
  //   background-color: $isHovered ? $primaryColor : $secondaryColor;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  height: 48px;
  border-radius: 24px;
  transition: all 0.2s;
  margin: 10px;
  transition: width;

  &.primary {
    background-color: $primaryColor;
  }
  &.secondary {
    background-color: $secondaryColor;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: Leon Sans;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: white;
    text-decoration: none;

    img {
      margin: 5px;
      width: 20px;
      height: 20px;
    }
  }
}
