// $max-width: 400;

.leftbar-container {
  display: flex;
  flex-direction: column;
  background: #f5f5f5;
  position: fixed;
  // max-width: #{$max-width}px;
  width: 20vw;
  height: 100%;
  color: #404040;

  .profile-wb {
    // max-width: #{$max-width - 50}px;
    width: calc(20vw - 50px);
  }
  .leftbar-container-inside {
    margin-left: 25px;
    margin-right: 25px;
    h2 {
      margin-top: 70px;
      margin-bottom: 5px;
    }
  }
}
