$max-width: 400;

.leftbar-container {
  display: flex;
  // position: fixed;
  flex-direction: column;
  background: #f5f5f5;
  max-width: #{$max-width}px;
  height: 100%;
  color: #404040;
  .profile-wb {
    max-width: #{$max-width - 50}px;
  }
  .leftbar-container-inside {
    margin-left: 25px;
    margin-right: 25px;
    h2 {
      margin-top: 70px;
      margin-bottom: 5px;
    }
  }
}
