$primary-color: #1c1c1c;
$secondary-color: #e50505;

.link-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    max-width: 450px;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  .profile_img {
    width: 130;
    height: 130px;
    border-radius: 100px;
    margin: 30px;
  }

  .nickname {
    font-weight: 300;
    font-size: 46px;
    line-height: 50px;
    font-family:
      Leon Sans,
      Pretendard Variable,
      sans-serif;
    margin-top: 80px;
    margin-bottom: 25px;
    &.primary-color {
      color: $primary-color;
    }
    &.secondary-color {
      color: $secondary-color;
    }
  }
}
