$primary-color: #1c1c1c;
$secondary-color: #e50505;

.link-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  .link-label {
    width: 100%;
    .contacts {
      font-size: 26px;
      font-size: 26px;
      text-decoration: underline;
      text-underline-offset: 6px;
      /* text-decoration-color: #525252; */
      text-decoration-thickness: 4px;
    }
  }
  .links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    max-width: 450px;
    margin: 0 auto;
    flex-wrap: wrap;
  }

  /* .nickname {
    font-weight: 300;
    font-size: 46px;
    line-height: 50px;
    font-family:
      Leon Sans,
      Pretendard Variable,
      sans-serif;
    margin-top: 80px;
    margin-bottom: 25px;
    &.primary-color {
      color: $primary-color;
    }
    &.secondary-color {
      color: $secondary-color;
    }
  } */
}
