.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    font-family:
      Leon Sans,
      sans-serif;
    font-weight: 300;
    font-size: 46px;
    color: #000;
    margin-top: 80px;
  }

  ul {
    display: flex;
    gap: calc(100% - ((100% / 3 - 5px) * 3));
    flex-wrap: wrap;
  }
}
