$logo_size: 35px;

.menu-container {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  // align-items: start;
  width: 100%;
  .logo {
    width: $logo_size;
    height: $logo_size;
    margin-top: 15px;
    margin-left: 35px;
    margin-right: auto;
  }
  .dummy {
    width: $logo_size;
    height: $logo_size;
    margin-top: 15px;
    margin-left: 0px;
    margin-right: 35px;
  }
  .expand-btn {
    width: 20px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
  }
  .collapse-btn {
    width: 20px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
  }
  .menu-sub-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-right: $logo_size + 35px;
  }
  // @media screen and (max-width: 680px) {
  // .logo {
  //   margin-right: 0;
  // }
  // .expand-btn {
  //   // margin-right: auto + $logo_size;
  // }
  // }
}
