$non-hovered: #1c1c1c;
$hovered: #e50505;

.menu-item {
  margin: 10px;
  font-size: 13px;
  font-family: Roboto Condensed;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 5px;
  cursor: pointer;
  align-items: center;
  // margin-right: ;
  // margin-left: auto;
  // margin-right: auto;
  // width: 20px;
  // height: 20px;

  &.hovered {
    color: $hovered;
  }
  &.nonhovered {
    color: $non-hovered;
  }
}
